/* Colors */
/* Fonts */
/* General */
html,
body {
  font-size: 18px;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Lora", serif;
  color: #404040; }

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.drawcard .name,
.price-information {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 1.5em 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

a {
  cursor: pointer; }

/* Navigation */
.navbar,
.navbar .navbar-nav > li > a {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

.navbar {
  color: #fefefe;
  background: #101010;
  padding: 8px 0;
  margin: 0;
  height: 65px; }

.navbar.navbar-hide {
  transform: translateY(-65px); }

.navbar .navbar-brand {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6em; }

.navbar .navbar-nav > li > a {
  color: #fefefe; }

.navbar .navbar-nav > li > a:hover {
  background: none;
  color: #b4966b; }

/* Pages */
article {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%; }

/* Buttons */
.btn-xl {
  font-size: 24px;
  padding: 17px 45px;
  margin: 15px 0; }

/* Equally sized sections */
section {
  height: calc(75vh);
  min-height: 500px;
  padding: 3em;
  background: #fefefe;
  text-align: center; }

section.hero {
  font-size: 2em;
  color: #fefefe;
  background: #404040 url("../images/networking.jpg") center center no-repeat;
  background-size: cover; }

section.hero h1 {
  font-weight: 700; }

section:first-child,
section:last-child {
  height: calc(90vh); }

section.alt {
  background: #ece8e0; }

section.alt h2 {
  color: #b4966b; }

/* Box for Vertical Align */
.box-outer {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.box-inner {
  width: 100%; }

.container,
.box-inner {
  max-width: 1100px; }

/* Drawcards */
.drawcards {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: top;
  justify-content: center; }

.drawcard {
  padding: 1em;
  width: 100%;
  height: 100%; }

.drawcard .img-outer {
  margin: 0 auto;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background: #ece8e0; }

.drawcard .img-outer .img-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover; }

.drawcard .name,
.drawcard .about {
  margin: 1em 0 0 0; }

.drawcard .name {
  font-size: 1.5em; }

.drawcard ul.social,
.drawcard ul.social > li {
  margin: 0;
  padding: 0; }

.drawcard ul.social {
  width: auto;
  list-style: none; }

.drawcard ul.social > li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: auto; }

.drawcard ul.social > li > a {
  padding: 15px; }

/* Mission Statement */
ul.list-bubbles li {
  border: 2px solid #ece8e0;
  padding: 1em 1.5em;
  margin: 1em 1.5em; }

/* Tickets */
.stub {
  border: 2px solid #b4966b;
  padding: 1em; }

.price {
  font-size: 3em;
  margin: 0.5em 0;
  font-weight: bold; }

.price-information {
  margin: 1em 0 0; }

ul.ticket-information > li {
  margin: 0.5em 0; }

/* Map */
.map,
.map .box-inner {
  width: 100%;
  max-width: 100%; }

.map .box-inner {
  height: 100%; }

.map iframe {
  pointer-events: none;
  width: 100%;
  height: 50vh; }
