html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  color: #000506;
  background: #EFF6F5; }

h1 {
  font-family: 'Merriweather', serif;
  margin: 0; }

nav {
  color: #EFF6F5;
  background: #000506;
  padding: 8px 0;
  margin: 0;
  position: fixed;
  width: 100%; }

article {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%; }

.container {
  width: 1150px;
  margin: 0 auto; }

.jumbotron {
  height: calc(90vh - 70px);
  color: #EFF6F5;
  padding: 35px;
  background: #000506 url("../images/networking.jpg") center center no-repeat;
  background-size: cover; }

.jumbotron-inner {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #EFF6F5; }

.button {
  display: inline-block;
  width: auto;
  padding: 8px 12px;
  color: #EFF6F5;
  background: #FF5F54;
  text-decoration: none; }

.section {
  height: calc(90vh - 70px); }

.section.alt {
  background: #D6CEB1; }
