<div ng-controller="HomeController">

    <!-- Hero Header -->
    <section class="hero">
        <div class="box-outer">
            <div class="box-inner">
                <h2>ARTery Networking and Events presents:</h2>
                <h1>
                    WholeheARTedly
                </h1>
                <h2>
                    From 6:00pm - 4th May 2016<br />
                    Rigby's Bar and Bistro
                </h2>
                <a class="btn btn-default btn-xl" ng-click="goToTickets()">
                    Get Tickets
                </a>
            </div>
        </div>

        <!-- Drawcards -->
        <div class="box-outer whos-attending">
            <div class="box-inner">
                <h2 class="capitalize">Who's Attending</h2>
                <div class="drawcards">
                    
                    <div class="drawcard">
                        <div class="img-outer">
                            <div class="img-inner" style="background-image: url('./images/artists/mattstorer.jpg')"></div>
                        </div>
                        <div class="name">Matt Storer, Comedian</div>
                        <div class="about">Musical, hysterical, multi-award winning, headliner comedian. Performing sold out shows at the Laugh Resort, RAW, and Fringe. Featuring on the ABC, in the 'Funny Faces' competition and performing abroad. Matt returned to Fringe in 2016 with ‘Afterlife Laughs’ adding to his repertoire with his solo act: ‘Subtle Pleads and Piano Keys’. Captivating, entertaining and above all grand!</div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/MattStorerComedy/">Read more on Facebook</a></li>
                        </ul>
                    </div>
                    
                    <div class="drawcard vip">
                        <div class="img-outer">
                            <div class="img-inner" style="background-image: url('./images/artists/vonvixen.jpg')"></div>
                        </div>
                        <div class="name">Vicious Von Vixen, MC</div>
                        <div class="about">Spirited in his manner, Vicious Von Vixen leaves a sour yet addictive taste in his audiences mouths. A true gentleman come philanderer! From a land not of this world, he leaves audiences confused with their own sexuality... As a true master of ceremonies, Vicious sets standards high and indulges in a world full of fantasies, sensuality, lust and desire! The leader of the pack and MC of the night!</div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/viciousvonv/">Read more on Facebook</a></li>
                        </ul>
                    </div>

                    <div class="drawcard">
                        <div class="img-outer">
                            <div class="img-inner" style="background-image: url('./images/artists/chelseabunz.jpg')"></div>
                        </div>
                        <div class="name">Chelsea Bunz,<br />Dance Performer</div>
                        <div class="about">Snakes, Swords and Bellydancing with Charisma to boot. This experienced vibrant and licensed snake handler is Perth’s one and only.  Props, hip shaker and Teddy bear maker. From Artist by day to Sword yielder at night, this girl has and infectious wild charm that cannot be tamed.</div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/Chelsea-Bunz-132890996724627/">Read more on Facebook</a></li>
                        </ul>
                    </div>
                </div>

                <!--<a class="btn btn-default btn-xl" ng-click="goToPage('/attending')">
                    See all attendees
                </a>-->
            </div>
        </div>
    </section>

    <!-- Tickets -->
    <section id="tickets" class="buy-tickets">
        <div class="box-outer">
            <div class="box-inner">
                <h2>Tickets</h2>
                <div class="tickets">
                    <div class="ticket">
                        <h3>Standard</h3>
                        <div class="price">$100.00</div>
                        <div class="price-information">price per person</div>
                        <p class="ticket-information">
                            Your ticket entitles you to: A night of high-class networking and entertainment, entrance to the exhibition stands and a stroll through the garden “Sanctuary”. You will receive a welcome package and the opportunity to win prizes to the value of $1000. <strong>(The standard ticket is valued at $180.)</strong>
                        </p>
                        <a class="btn btn-default btn-block btn-lg">
                            Buy Standard Ticket
                        </a>
                    </div>
                    <div class="ticket vip">
                        <h3>VIP</h3>
                        <div class="price">$150.00</div>
                        <div class="price-information">price per person</div>
                        <p class="ticket-information">
                            Your ticket entitles you to: Cocktail and canape on arrival, followed by a night of high-class networking and entertainment with the VIP difference, as well as entrance to the exhibition stands, and a stroll through the garden “Sanctuary”. An added bonus includes access to our exclusive VIP after party. You will receive a welcome package (VIP edition), food / drink voucher and the opportunity to win prizes to the value of $1000. <strong>(Set yourself apart from the herd ticket is valued at $250.)</strong>
                        </p>
                        <a class="btn btn-primary btn-block btn-xl">
                            Buy VIP Ticket
                        </a>
                    </div>
                    <div class="ticket">
                        <h3>Sponsor</h3>
                        <div class="price">$200.00</div>
                        <div class="price-information">starting price</div>
                        <p class="ticket-information">
                            Your ticket includes all of the above, a VIP Pass and recognition of your sponsorship. Furthermore, marketing and promotion packages can be tailored specifically to your budget and business. Stay ahead of the game and at the forefront of business ingenuity. <strong>(An investment you say, according to what I pay, tell me more packages valued from $500)</strong>
                        </p>
                        <a class="btn btn-default btn-block btn-lg">
                            Contact us now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Artery -->
    <section>
        <div class="box-outer">
            <div class="box-inner">
                
                <h2>About WholeheARTedly</h2>

                <p class="mission-statement">
                    A Networking Night of Nights.<br />
                    The Pilot event and brainchild of ARTery Networking and Events Director, Georgina Staples.<br />
                    An engaging, fun-packed event for those who seek to further their career opportunities.
                </p>

                <ul class="list-inline list-unstyled list-bubbles">
                    <li>Cocktail Style Event</li>
                    <li>Local Art and Photography Exhibition</li>
                    <li>Local Perth Performances</li>
                    <li>Local Business Showcase</li>
                    <li>Meet Fellow Professionals</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- How To Get There -->
    <section class="alt map" mapscroll>
        <div class="box-outer">
            <div class="box-inner">
                <h2>How To Get There</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.258300169077!2d115.84971831516131!3d-31.9538885812283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a52ad62182b1%3A0x519432eee539cb0e!2sRigby&#39;s!5e0!3m2!1sen!2sau!4v1453385153099"
                frameborder="0" style="border:0" allowfullscreen></iframe>
                <a class="btn btn-primary btn-xl" href="https://youtu.be/mcHVnzGaClQ?t=6m25s">Find out how to get there</a>
            </div>
        </div>
    </section>
</div>